.bg {
    padding: 20px;
    width: 100%;
    height: 100%;
    background: fixed;
    background-color: darkslategrey;

}

.back {
    background-color: darkgray;
}

.like-button {
    display: flex;
    justify-content: flex-end;
}